<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886905307241-2ck2qp0dq0fmec8gtuju3ur476n7276u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886905307241-2ck2qp0dq0fmec8gtuju3ur476n7276u</string>
	<key>API_KEY</key>
	<string>AIzaSyCxGC_Ddj_C5Y1MtPisCvCBx0aalXQTuOg</string>
	<key>GCM_SENDER_ID</key>
	<string>886905307241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eibertek.greedybastardsgame</string>
	<key>PROJECT_ID</key>
	<string>greedybastardsgame</string>
	<key>STORAGE_BUCKET</key>
	<string>greedybastardsgame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886905307241:ios:9f40e8c3b3aae16f</string>
	<key>DATABASE_URL</key>
	<string>https://greedybastardsgame.firebaseio.com</string>
</dict>
</plist>